.beneficiaries-activate-modal {

    .cr-email-form {
        margin: 0!important;
        min-height: 0;

        &__option {
            border: none;
        }

    }

    .cr-email-form__header {
        width: 100%!important;
        margin-bottom: 20px!important;
    }

    .pg-confirm__content__body {
        display: flex;
        flex-direction: column;

        .resend-pin {
            width: 100px;
            text-align: center;
            margin: auto;
        }
    }

}