.cr-email-form__form-warning-body {
  svg {
    margin-bottom: 35px;
  }

  .pg-beneficiaries__warning-modal__title {
    font-size: 20px;
    font-weight: 500;
  }

  .pg-beneficiaries__warning-modal__description {
    font-size: 1em;
    font-weight: 400;
  }
}
