.cr-email-form__form-warning-body {
    svg {
        margin-bottom: 35px;
    }

    .pg-beneficiaries__warning-modal__title {
        font-weight: 500;
        font-size: 20px;
    }
    
    .pg-beneficiaries__warning-modal__description {
        font-weight: 400;
        font-size: 1em;
    }
}